* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*reset css*/
body {
  background-color: hsl(200deg 20% 97%);
}
header, /*header I consider it the same as an id conceptually*/
#navigation,
#list {
  position: relative;
  background-color: white;
  padding: 5px;
  box-shadow: 10px 0px 5px #dedede;
}
#logo {
  display: inline-block;
  font-size: 48px;
  position: absolute;
  left: 56px;
}
#container {
  width: 70vw;
  margin: 10% auto;
}
#navigation,
#list {
  padding: 10px 40px;
}
.bot.one {
  background-color: hsl(204deg 86% 61%);
}
.bot {
  border: 2px solid hsl(204deg 86% 78%);
  border-radius: 5px;
  padding: 3px;
}
.sum::before {
  content: "\2193";
}
ul {
  list-style: none;
  padding-inline-start: 0px;
}
li {
  margin: 5px 0;
}
.cross::before {
  content: "\2715";
  color: red;
  border: 1px solid red;
  padding: 2px 3.97px;
  border-radius: 50%;
}
.check::before {
  content: "\2713";
  border: 1px solid green;
  color: green;
  padding: 2px 4.52px;
  border-radius: 50%;
}
/*  becose the element inserted before content, instead of be inside a specific container, I adjust the padding based on the font of the symbol used*/
