* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*reset css*/
body {
  background-color: hsl(200deg 20% 97%);
}
header {
  position: relative;
  background-color: white;
  height: 64px;
  padding: 5px;
  box-shadow: 10px 0px 5px #dedede;
}
#logo {
  display: inline-block;
  font-size: 48px;
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 0;
  position: absolute;
  left: 56px;
}
